<div class="form-container">
    <form [formGroup]="verificacionForm" (ngSubmit)="verificarCodigo($event)">
        <h2 class="text-center mb-4">Verificación en Dos Pasos</h2>

        <p class="text-center">Ingrese su correo y el código de verificación enviado.</p>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="correo" formControlName="correo" placeholder="Correo electrónico">
            <label for="correo">Correo electrónico</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="codigo" formControlName="codigo" placeholder="Código de verificación">
            <label for="codigo">Código de verificación</label>
        </div>

        <button class="btn btn-primary w-100" type="submit" [disabled]="verificacionForm.invalid">Verificar Código</button>
    </form>
</div>
