<div class="container py-5">

    @if (rolActual == "PROVEEDOR") {
    <h1 class="text-center mb-4">🚛 Distribuidora Central</h1>
    
    <div class="table-container">
        <h3 class="text-center">Órdenes Recibidas</h3>
        <table class="table table-dark table-striped text-center">
            <thead>
                <tr>
                    <th>Fecha de Creación</th>
                    <th>Productos</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for (orden of ordenesBodega; track $index) {
                <tr>
                    <td>{{ orden.fechaCreacion | date:'short' }}</td>
                    <td>
                        <ul class="list-unstyled">

                            @for (item of orden.productos; track $index) {
                            <li>
                                Referencia {{ item.referenciaProducto }} - Nombre: {{item.nombreProducto}} - {{ item.cantidad }} unidades
                            </li>
                            }
                            
                        </ul>
                    </td>
                    <td>
                        <li class="list-unstyled">
                            {{orden.estadoReabastecimiento}}
                        </li>
                    </td>
                    <td>
                        <button class="btn btn-success btn-sm" (click)="entregar(orden.id)">
                            Entregar
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    }
    
    @if (rolActual == "ADMINISTRADOR") {
    <h1 class="text-center mb-4">🚛 Ordenes de Reabastecimiento</h1>
    
    <div class="table-container">
        <h3 class="text-center">Órdenes Enviadas</h3>
        <table class="table table-dark table-striped text-center">
            <thead>
                <tr>
                    <th>Fecha de Creación</th>
                    <th>Productos</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                @for (orden of ordenesBodega; track $index) {
                <tr>
                    <td>{{ orden.fechaCreacion | date:'short' }}</td>
                    <td>
                        <ul class="list-unstyled">

                            @for (item of orden.productos; track $index) {
                            <li>
                                Referencia {{ item.referenciaProducto }} - Nombre: {{item.nombreProducto}} - {{ item.cantidad }} unidades
                            </li>
                            }
                            
                        </ul>
                    </td>
                    <td>
                        <li class="list-unstyled">
                            {{orden.estadoReabastecimiento}}
                        </li>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    }
</div>
